@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

@layer components {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-shadow-base-content text-lg font-medium;
  }

  h1,
  h2 {
    @apply text-primary font-bold;
  }

  p {
    @apply text-base-content text-base;
  }

  .modal-overlay {
    @apply fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center bg-black/50;

    .modal-content {
      @apply relative w-11/12 bg-base-100 rounded-lg p-5;
      animation: slideUp 0.4s ease;
    }

    .closing {
      animation: slideDown 0.4s ease;
    }
  }

  .scrolling-disabled {
    overflow: hidden;
  }

  .gradient {
    background: #b06d89;
    background: radial-gradient(
      circle,
      rgba(176, 109, 137, 1) 0%,
      rgba(223, 233, 148, 1) 100%
    );
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
